<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <% if (user) { %>

          <% Object.keys(urls).forEach(function (key) { %>
            <form action="/urls/<%= key %>/delete" method="POST">
            <%= urls[key].url %> is now <b><a href="http://localhost:8080/u/<%= key %>" target="_blank">http://localhost:8080/u/<%= key %></a></b>
            <a href="/urls/<%= key %>">EDIT</a>
            <button type="submit">DELETE</button>
            </form>
          <% }); %>

          <p><a href="/urls/new">Shorten a new URL</a></p>

    <% } else { %>
      <p>Login or register to start making your own TinyURLs.</p>
    <% } %>
  </body>
</html>